<!--  FOOTER  -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-top">
            <h2 class="footer-title"><span class="accent">Chocolate</span> a delicious cure for a bad day</h2>
            <div class="footer-contacts">
                <address class="footer-address">
                    <p class="address-title">Contact us</p>
                    <ul class="address-contacts">
                        <li>
                            <a href="tel:+380684439426" class="contacts-link">+380 (68) 443-94-26</a>
                        </li>
                        <li>
                            <a href="mailto:simplychoc@gmail.com" class="contacts-link">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </address>  
                <ul class="footer-social">
                    <li>
                        <a href="https://www.instagram.com/" class="social-icon">
                            <svg class="social-logo">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" class="social-icon">
                            <svg class="social-logo">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="footer-nav">
            <li>
                <a href="#hero" class="footer-nav-link" data-value="hero">Home</a>
            </li>
            <li>
                <a href="#how-its-made" class="footer-nav-link" data-value="how-its-made">How it’s made?</a>
            </li>
            <li>
                <a href="#our-products" class="footer-nav-link" data-value="our-products">Our products</a>
            </li>
            <li>
                <a href="#top-sellers" class="footer-nav-link" data-value="top-sellers">Top sellers</a>
            </li>
            <li>
                <a href="#reviews" class="footer-nav-link" data-value="reviews">Chocolate is loved</a>
            </li>
        </ul>
    </div>
</footer>