<!--  HEADER  -->
<header class="header">
    <div class="container">
        <nav class="navigation">
            <a href="#" class="logo">
                <span class="logo-italic">simply </span> chocolate
                <svg class="logo-image">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <button class="burger-open-button">
                <svg class="burger-button-icon">
                    <use href="./img/icons.svg#icon-burger"></use>
                </svg> 
            </button>
        </nav>
        <div class="mobile-menu">
            <button class="close-menu-button">
                <svg class="close-menu-icon">
                    <use href="./img/icons.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="mobile-menu-navigation">
                <ul class="mobile-menu-nav-list">
                    <li>
                        <a href="#hero" class="mobile-menu-item">Home</a>
                    </li>
                    <li>
                        <a href="#how-its-made" class="mobile-menu-item">How it’s made?</a>
                    </li>
                    <li>
                        <a href="#our-products" class="mobile-menu-item">Our products</a>
                    </li>
                    <li>
                        <a href="#top-sellers" class="mobile-menu-item">Top sellers</a>
                    </li>
                    <li>
                        <a href="#reviews" class="mobile-menu-item">Chocolate is loved</a>
                    </li>
                </ul>
            </nav>
            <ul class="mobile-menu-auth-nav">
                <li>
                    <a href="https://www.instagram.com/" class="mobile-menu-auth-item">
                        <svg class="mobile-menu-auth-logo">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" class="mobile-menu-auth-item">
                        <svg class="mobile-menu-auth-logo">
                            <use href="./img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>