<!--  HERO  -->
<section class="hero">
    <div class="container">
        <div class="hero-background-container">
            <div class="hero-wrapper">
                <h3 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h3>
                <ul class="hero-list">
                    <li>
                        <button class="button">Buy now</button>
                    </li>
                    <li>
                        <a href="#how-its-made">
                            <button class="button hero-button">How it’s made</button>
                        </a>
                    </li>
                </ul>
                <a href="#footer" class="hero-scroll">scroll down 
                    <span class="hero-scroll-icon">
                        <svg class="hero-scroll-svg">
                            <use href="./img/icons.svg#scroll-icon"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>