<!--  OUR-PRODUCTS  -->
<section class="section">
    <div class="container">
        <h2 class="title">OUR <span class="accent">PRODUCTS</span></h2>
        <div class="swiper products-swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-1.png" alt="Orange Chocolate" class="product-image">
                        <h3 class="products-title">ORANGE</h3>
                        <p class="products-text">Dark chocolate</p>
                        <button class="button products-button">45 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-2.png" alt="Apple&Cranberry Chocolate" class="product-image">
                        <h3 class="products-title">APPLE&CRANBERRY</h3>
                        <p class="products-text">Milk chocolate</p>
                        <button class="button products-button">50 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-3.png" alt="Lime&Sea Salt Chocolate" class="product-image">
                        <h3 class="products-title">LIME&SEA SALT</h3>
                        <p class="products-text">Dark chocolate</p>
                        <button class="button products-button">66 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-4.png" alt="Pineapple Chocolate" class="product-image">
                        <h3 class="products-title">PINEAPPLE</h3>
                        <p class="products-text">Dark chocolate</p>
                        <button class="button products-button">54 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-5.png" alt="Classic Chocolate" class="product-image">
                        <h3 class="products-title">CLASSIC</h3>
                        <p class="products-text">Milk chocolate</p>
                        <button class="button products-button">45 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-6.png" alt="Honey Chocolate" class="product-image">
                        <h3 class="products-title">HONEY</h3>
                        <p class="products-text">Milk chocolate</p>
                        <button class="button products-button">50 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-7.png" alt="Roasted fruits Chocolate" class="product-image">
                        <h3 class="products-title">ROASTED FRUITS</h3>
                        <p class="products-text">Dark chocolate</p>
                        <button class="button products-button">66 UAH</button>
                    </div>
                </li>
                <li class="swiper-slide products-item">                   
                    <div class="products-item-content">
                        <img src="./img/our-products/our-products-image-8.png" alt="Classic Chocolate" class="product-image">
                        <h3 class="products-title">CLASSIC</h3>
                        <p class="products-text">White chocolate</p>
                        <button class="button products-button">54 UAH</button>
                    </div>
                </li>
            </ul>
            <ul class="swiper-pagination"></ul>
        </div>
    </div>
</section>