<!--  TOP-SELLERS  -->
<section class="section">
    <div class="container">
        <h2 class="title"><span class="accent">TOP </span>SELLERS</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <img
                srcset="./src/img/top-sellers-image-nuts1x.png 1x, ./src/img/top-sellers-image-nuts2x.png 2x"
                src="./src/img/top-sellers-image-nuts1x.png"
                alt="carrot"
                width="299"
                class="veg-pic"
              />
                <!-- <img src="../img/top-sellers/mobile/top-sellers-image-nuts1x.jpg" srcset="../img/top-sellers/mobile/top-sellers-image-nuts1x.jpg 1x, ../img/top-sellers/mobile/top-sellers-image-nuts2x.jpg 2x" alt="Top Sellers Image" class="sellers-img"> -->
                <!-- <img src="../img/top-sellers/tablet/top-sellers-tab-image-nuts1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/tablet/top-sellers-tab-image-nuts1x.jpg 1x, ../img/top-sellers/tablet/top-sellers-tab-image-nuts2x.jpg 2x" type="image/jpg" class="sellers-img sellers-tablet-img">
                <img src="../img/top-sellers/desktop/top-sellers-des-image-nuts1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/desktop/top-sellers-des-image-nuts1x.jpg 1x, ../img/top-sellers/desktop/top-sellers-des-image-nuts2x.jpg 2x" type="image/jpg" class="sellers-img sellers-desktop-img"> -->
                <p class="sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </li>
            <li class="sellers-item">
                <!-- <img src="../img/top-sellers/mobile/top-sellers-image-pieces1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/mobile/top-sellers-image-pieces1x.jpg 1x, ../img/top-sellers/mobile/top-sellers-image-pieces2x.jpg 2x" type="image/jpg" class="sellers-img">
                <img src="../img/top-sellers/tablet/top-sellers-tab-image-pieces1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/tablet/top-sellers-tab-image-pieces1x.jpg 1x, ../img/top-sellers/tablet/top-sellers-tab-image-pieces2x.jpg 2x" type="image/jpg" class="sellers-img sellers-tablet-img">
                <img src="../img/top-sellers/desktop/top-sellers-des-image-pieces1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/desktop/top-sellers-des-image-pieces1x.jpg 1x, ../img/top-sellers/desktop/top-sellers-des-image-pieces2x.jpg 2x" type="image/jpg" class="sellers-img sellers-desktop-img"> -->
                <button class="button sellers" type="button">Buy now</button>
            </li>
            <li class="sellers-item last">
                <!-- <img src="../img/top-sellers/desktop/top-sellers-des-image-chocolate1x.jpg" alt="Top Sellers Image" srcset="../img/top-sellers/desktop/top-sellers-des-image-chocolate1x.jpg 1x, ../img/top-sellers/desktop/top-sellers-des-image-chocolate2x.jpg 2x" type="image/jpg" class="sellers-img sellers-desktop-img"> -->
            </li>
        </ul>
    </div>
    <div class="container wrapper">
        <p class="sellers-text added">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="button sellers added-button" type="button">Buy now</button>
    </div>
</section>