/*  BUTTONS  */
.button {
    display: block;
    
    background-color: var(--accent-color);
    color: var(--second-text-color);
    
    border: 1px solid transparent;
    border-radius: 100px;
    
    margin: 32px auto 0 auto;
    padding: 12px 24px;
    
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    
    cursor: pointer;
    transition: background var(--duration) var(--cubic-bezier),
                border var(--duration) var(--cubic-bezier),
                color var(--duration) var(--cubic-bezier);
}

.button:hover,
.button:focus {
    background-color: var(--second-accent-color);
    color: var(--accent-color);
}

.sellers {
    margin: 20px auto 0 auto;
}


/*  HERO  */
.hero-button {
    background-color: transparent;
    color: var(--second-text-color);

    border: 1px solid var(--second-text-color);
    transition: background var(--duration) var(--cubic-bezier),
                border var(--duration) var(--cubic-bezier),
                color var(--duration) var(--cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
    background-color: transparent;
    color: var(--accent-color);

    border: 1px solid var(--accent-color);
}

.hero-small-button {
    font-size: 11px;
}


/*  INGREDIENTS BUTTON  */
.overlay-buttons-wrappper {
    display: flex;
    gap: 8px;

    margin-bottom: 14px;
}

.overlay-button {
    background-color: var(--main-bg-color);
    border-color: var(--accent-color);
    color: var(--main-text-color);

    margin: 0;
    padding: 6px 15px;

    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-transform: lowercase;
}

.overlay-button:hover,
.overlay-button.focus {
    background-color: var(--accent-color);
    color: var(--second-text-color);
}

.button-active {
    background-color: var(--accent-color);
    color: var(--second-text-color);

    cursor: unset;
}


/*  PRODUCTS BUTTON  */
.products-button {
    display: block;
    
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    
    padding: 8px 20px;
    margin-top: 18px;
}

.products-button:hover,
.products-button:focus {
    background-color: var(--accent-color);
    color: var(--second-text-color);
}


/*  REVIEW BUTTON  */
.review-button {
    background-color: transparent;
    color: var(--main-text-color);

    border: 1px solid var(--accent-color);
}

.review-button:hover,
.review-button:focus {
    background-color: var(--accent-color);
    color: var(--second-text-color);
}


/*  SUBSCRIBE BUTTON  */
.subscribe-button {
    margin: 24px auto 0 auto;
}


/*  MOBILE  */
@media screen and (min-width: 375px) {
    .button {
        font-size: 14px;
    }

    .overlay-button {
        margin: 0;
        padding: 6px 15px;

        font-size: 10px;
    }
}


/*  TABLET  */
@media screen and (min-width: 768px) {
    .button {
        margin: 32px 0 0 auto;
        padding: 13px 40px;   
    }

    .overlay-button {
        margin: 0;
        padding: 6px 15px;
    }

    .button.products-button{
        margin: 18px auto 0 auto;
        padding: 8px 20px;
    } 

    .review-button {
        margin: 50px auto 0 auto;

        font-size: 16px;
    }

    .subscribe-button {
        margin: 24px auto 0 auto;
    }
}

/*  DESKTOP  */
@media screen and (min-width: 1200px) {
    .sellers {
        display: none;
    }

    .added-button {
        display: block;
        margin: 0 0 auto auto;
    }
}