/*  HERO  */
.hero {
    padding-top: 75px;
    margin-bottom: 72px;
}

.hero-background-container {
    background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/mobile/hero-image-1x.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-background-container {
        background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/mobile/hero-image-2x.jpg);
    }
}

.hero-wrapper {
    padding: 395px 20px 20px 20px;
}

.hero-title {
    color: var(--second-text-color);
    max-width: 280px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -.03em;
}

.hero-list {
    display: flex;

    gap: 5px;
}

.hero-scroll {
    display: flex;
    color: var(--second-text-color);
    align-items: center;
    gap: 14px;
    margin-top: 32px;

    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.03em;
    text-decoration: none;

    transition: color var(--duration) var(--cubic-bezier);
}

.hero-scroll-icon {
    color: var(--accent-color);
    background-color: var(--second-text-color);

    width: 28px;
    height: 28px;

    border-radius: 100px;

    transition: background var(--duration) var(--cubic-bezier),
                color var(--duration) var(--cubic-bezier);
}

.hero-scroll-svg {
    fill: currentColor;
    width: 28px;
    height: 28px;

    padding: 6px;
}

.hero-scroll:hover,
.hero-scroll:focus {
    color: var(--accent-color);
}

.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
    color: var(--second-text-color);
    background-color: var(--accent-color);
}



/*  MOBILE  */
@media screen and (min-width: 340px) {
    .hero-list {
        gap: 13px;
    }
}


/*  TABLET  */
@media screen and (min-width: 768px) {
    .hero {
        margin-bottom: 50px;
    }

    .hero-background-container {
        background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/tablet/hero-tab-image-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .hero-background-container {
            background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/tablet/hero-tab-image-2x.jpg);
        }
    }

    .hero-wrapper {
        padding: 671px 40px 40px 40px;

        display: flex;
        flex-wrap: wrap;
    }

    .hero-title {
        max-width: 484px;
    
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: -.03em;
    }

    .hero-scroll {
        margin-left: auto;

        font-size: 14px;
    }

    .hero-scroll-icon {
        width: 38px;
        height: 38px;
    }

    .hero-scroll-svg {
        width: 38px;
        height: 38px;
    
        padding: 8px;
    }
}


/*  DESKTOP  */
@media screen and (min-width: 1200px) {
    .hero {
        margin-bottom: 72px;
    }

    .hero-background-container {
        background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/desktop/hero-des-image-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .hero-background-container {
            background-image: linear-gradient( to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 60% ), url(../img/hero/desktop/hero-des-image-2x.jpg);
        }
    }

    .hero-wrapper {
        display: block;
        position: relative;
        padding: 381px 40px 40px 40px;
    }

    .hero-scroll {
        position: absolute;

        right: 40px;
        bottom: 40px;
    }
}