/*  INGREDIENTS  */
.ingredients {
    padding-top: 72px;
}

.ingredients-title {
    max-width: 283px;

    margin: 0 auto 24px auto;
}

.ingredients-main-text {
    text-align: center;

    margin-bottom: 32px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.ingredient {
    position: relative;
    width: 100%;
    overflow: hidden;

    background-color: var(--second-text-color);

    border-radius: 15px;
    border: 1px solid var(--accent-color);

    transition: background var(--duration) var(--cubic-bezier),
                border var(--duration) var(--cubic-bezier);
}

.ingredient:hover {
    background-color: white;
    border-color: transparent;
}

.milk-chocolate {
    background-color: var(--accent-color);
}

.nuts {
    background-color: var(--second-bg-color);
}

.ingredient:nth-child(2n + 1) {
    border-color: transparent;
}

.ingredient-thumb {
    padding: 27px 28px 27px 28px;
}

.ingredient-image {
    margin: 0 auto 25px auto;
}

.ingredient-text {
    font-weight: 600;

    text-transform: uppercase;
}

.ingredient:nth-child(2n + 1) .ingredient-text{
    color: var(--second-text-color);
}

.ingredient-overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 27px 28px 27px 28px;

    background-color: var(--second-text-color);
    border-radius: 15px;

    transform: translateY(100%);

    transition: transform var(--duration) var(--cubic-bezier);
}

.ingredient:hover .ingredient-overlay {
    transform: translateY(0);
}

.overlay-title {
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;

    margin-bottom: 8px;
}
 
.ingredient-des-image {
    display: none;
}


/*  MOBILE  */
@media screen and (max-width: 325px) {
    .ingredient-overlay {
        padding: 27px 20px 27px 20px;
    }

    .overlay-title {
        font-size: 15px;
    }

    .overlay-text {
        font-size: 13px;
    }
}


/*  TABLET  */
@media screen and (min-width: 768px) {
    .ingredients-list {
        gap: 32px;
    }

    .ingredient {
        flex-basis: calc((100% - 36px)/2);
    }

    .ingredient:nth-child(2) {
        order: 3;
    }

    .ingredient:nth-child(3) {
        order: 4;
    }

    .title.ingredients-title {
        max-width: 411px;
    
        margin: 0 auto 28px auto;
    }

    .ingredients-main-text {
        width: 486px;

        margin: 0 auto 50px auto;
    }
}


/*  DESKTOP  */
@media screen and (min-width: 1200px) {
    .ingredients-list {
        gap: 20px;

        flex-wrap: nowrap;
    }

    .ingredient-image {
        display: none;
    }

    .ingredient-des-image {
        display: block;

        margin-bottom: 36px;
    }

    .ingredient-thumb {
        padding: 28px 32px 27px 32px;
    }

    .overlay-buttons-wrappper {
        gap: 3px;
    }

    .ingredient-overlay {
        height: 100%;
        overflow-y: scroll;
    }

    .ingredient-overlay::-webkit-scrollbar {
        display: none;
    }

    .ingredient:nth-child(2) {
        order: unset;
    }

    .ingredient:nth-child(3) {
        order: unset;
    }
}